[
  {"language": "lua", "pattern": ".*test[.]lua", "execute": "/usr/bin/lua5.3 %(prog)s %(arg)s"},
  {"language": "clj", "pattern": "build/clj/example[.]jar", "execute": "java -cp ../clojure-1.5.1.jar:example.jar clojure.main --main example.main %(arg)s"},
  {"language": "erlang", "pattern": ".*test[.]erl", "execute": "/usr/bin/escript %(prog)s %(arg)s"}
]